@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

html {
    -webkit-scroll-behavior: smooth;
            scroll-behavior: smooth;
}

*::before, *::after, *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
}

header {
    display: flex;
    background: rgb(0, 1, 56);
    color: white;
    z-index: 5;
    overflow: hidden;
    -webkit-box-shadow: 0 0 10px rgb(0, 0, 0);
            box-shadow: 0 0 10px rgb(0, 0, 0);
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.sticky + .section-wrapper {
    padding-top: 60px;
}

.logo-container {
    display: flex;
    flex: 1;
    justify-content: space-evenly;
    align-items: center;
}

.logo-container > img:hover {
    cursor: pointer;
}

.logo-container > h3 {
    padding: 2%;
    border-right: 1px solid gainsboro;
}

.button-list {
    display: flex;
    flex: 2;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
    margin: 1em;
}

.button-list > li {
    padding: .7%;
    transition: .2s all ease;
}

.button-list > li:hover {
    cursor: pointer;
    background-color:rgba(187, 187, 187, 0.2);
}

.button-list > li::after {
    content: '';
    width: 0px;
    height: 3px;
    display: block;
    background-color: rgb(178, 190, 10);
    transition: 300ms;
}

.button-list > li:hover::after {
    width: 100%;
    background-color: rosybrown;
} 

.avoid-clicks {
    pointer-events: none;
}

/*end of nav-bar styling*/

/*section styling*/

.section-wrapper {
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

/*home content styling*/
#home-content {
    display: flex;
    flex-direction: column;
    text-align: justify;
    text-justify: inter-word;
}

#home-content > .first-screen {
    display: flex;
    align-items: center;
    text-align: center;
    position: relative;
}

#home-content > .first-screen::after {
    content: "";
    background: url("/assets/home\ bg.jpg");
    background-size: cover;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
}

#home-content > .first-screen > img {
    width: 550px;
    flex: 1;
    padding-bottom: 3rem;
}

#home-content > .first-screen > .first-screen-txt {
    flex: 2;
    font-size: 2em;
    padding: 1rem;
}

#home-content > .first-screen > .first-screen-txt {
    font-weight: 900;
    font-weight: 900;
    letter-spacing: 2pt;
}

.first-screen-txt > h3 {
    font-size: 2.8rem;
}

#home-boxed-text {
    color: white;
    margin: 1rem;
    padding: .5rem;
    background-image: linear-gradient(to right, rgb(0, 1, 56), rgb(51, 87, 170));
}

#home-content > .second-screen {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 1rem;
    font-size: 1.7em;
    position: relative;
    background: rgb(0, 1, 56);
    z-index: -2;
}

#home-content > .second-screen::after {
    content: "";
    background: url("/assets/second-bg.png");
    background-size: cover;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
}

#home-content > .second-screen > img {
    width: 600px;
}

#home-content > .second-screen > .second-screen-txt {
    padding: .5em;
    margin: .5em;
}

#icons-div {
    display: flex;
    padding: 1rem;
    padding-top: 5rem;
    padding-bottom: 5rem;
    justify-content: space-evenly;
    align-items: center;
    border-bottom: 2px solid rgb(2, 0, 82);
}

#icons-div > .icons{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3rem;
    margin: 3rem;
    background-image: linear-gradient(to right, rgb(255, 255, 255), rgb(221, 221, 221));
    -webkit-box-shadow: 0 0 5px rgb(7, 0, 68);
            box-shadow: 0 0 5px rgb(7, 0, 68);
}

.icons > .fas {
    color: rgb(2, 0, 82);
    font-size: 4rem;
    padding: 1rem;
}

.second-screen-txt > h2 {
    text-align: center;
}

#why-us {
    padding: 3rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    background: rgb(12, 10, 95);
    color: white;
}

#why-us > h1 {
    font-size: 3rem;
}

#why-us > #num-div-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 4rem;
}

#num-div-container > .num-div {
    padding: 1rem;
    margin: 1rem;
    width: 300px;
    font-size: 2rem;
    -webkit-box-shadow: 0 0 5px white;
            box-shadow: 0 0 5px white;
    transition: .3s all ease;
}

#num-div-container > .num-div:hover {
    transform: scale(1.1);
}

.num-div > * {
    padding: 1rem;
}

#see-staffs {
    font-size: 1rem;
    font-weight: 900;
    padding: 2rem;
    color: white;
    border: 1px solid white;
    width: fit-content;
    text-decoration: none;
    align-self: center;
    transition: .2s all ease;
}

#see-staffs:hover {
    background-color: white;
    color: rgb(2, 0, 82);
}

#see-staffs:active {
    color: white;
    background: none;
}


#home-content > .third-screen > .charts {
    max-height: 70vh;
    max-width: 70vw;
}

#home-content > .third-screen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1%;
    text-align: center;
    text-indent: 0;
}

#home-content > .third-screen > h1 {
    padding: 3em;
    color: rgb(2, 0, 82);
}

#home-content > .third-screen > p {
    font-size: 1.3rem;
}

#home-content > .third-screen > .xData {
    color: rgb(6, 65, 73);
}

#home-content > .third-screen > .yData {
    color: rgb(12, 49, 0);
}

#staff-members-div {
    position: relative;
    padding-top: 10rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#staff-members-div::after {
    content: "";
    background: url("/assets/staffs/BACKGROUND.jpg");
    background-size: cover;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
}



#staff-members-div > h1 {
    font-size: 2.5rem;
    font-weight: 900;
    color: white;
}

.staff-members-div {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.staff-members-div > .staff-members {
    width: 40%;
    height: 30%;
    margin: 3rem;
    cursor: pointer;
    border-radius: 3pt;
    transition: .2s all ease;
}

.staff-members:hover {
    transform: scale(1.1);
}

#stafflightbox {
    position: fixed;
    z-index: 1000;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: none;
}

#stafflightbox.active {
    display: flex;
    justify-content: center;
    align-items: center;
}

#stafflightbox img {
    max-width: 95%;
    max-height: 85%;
    padding: 4px;
    background-color: black;
    border: 2px solid gainsboro;
}


#gallery-content {
    display: flex;
    flex-direction: column;
    text-align: justify;
    text-justify: inter-word;
}

#gallery-content > #design-gallery, #video-gallery {
    padding-top: 2rem;
    padding-bottom: 2rem;
    position: relative;
}

#gallery-content > #design-gallery {
    border-bottom: 1px solid rgb(2, 0, 82);
}

#gallery-content > #design-gallery::after {
    content: "";
    background: url("/assets/GALLERY\ TEMP2.jpg");
    background-size: cover;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
}


#gallery-content > #design-gallery > h1 {
    margin: 1.5rem;
    margin-left: 0;
    padding: 1rem;
    font-size: 2.5rem;
    letter-spacing: 5pt;
    font-weight: 900;
    width: fit-content;
    font-family: 'Raleway', sans-serif;
    border-radius: .4rem 2rem 2rem .4rem;
    -webkit-box-shadow: 0 0 5px rgb(0, 0, 0);
            box-shadow: 0 0 5px rgb(0, 0, 0);
    background: -webkit-linear-gradient(rgb(2, 0, 82), rgb(13, 84, 117));
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
}

#gallery-content > #design-gallery > .design-gallery-img {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.gallery-img {
    margin: 1rem;
    height: 200px;
    width: 300px;
    cursor: pointer;
    -webkit-box-shadow: 0 0 10px rgb(0, 0, 0);
            box-shadow: 0 0 10px rgb(0, 0, 0);
    transition: .2s all ease;
}

.gallery-img:hover {
    transform: scale(1.05);
}

#lightbox {
    position: fixed;
    z-index: 1000;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: none;
}

#lightbox.active {
    display: flex;
    justify-content: center;
    align-items: center;
}

#lightbox img {
    max-width: 90%;
    max-height: 80%;
    padding: 4px;
    background-color: black;
    border: 2px solid gainsboro;
}

#gallery-content > #video-gallery::after {
    content: "";
    background: url("/assets/GALLERY\ TEMP2.jpg");
    background-size: cover;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
}

#video-gallery > h1 {
    margin: 1.5rem;
    margin-left: 0;
    padding: 1rem;
    font-size: 2.5rem;
    letter-spacing: 5pt;
    font-weight: 900;
    width: fit-content;
    font-family: 'Raleway', sans-serif;
    border-radius: .4rem 2rem 2rem .4rem;
    -webkit-box-shadow: 0 0 5px rgb(0, 0, 0);
            box-shadow: 0 0 5px rgb(0, 0, 0);
    background: -webkit-linear-gradient(rgb(2, 0, 82), rgb(13, 84, 117));
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
}

#video-gallery > .videos {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

#video-gallery > .videos > iframe {
    margin: 1rem;
    height: 320px;
    width: 550px;
    cursor: pointer;
    -webkit-box-shadow: 0 0 10px rgb(0, 0, 0);
            box-shadow: 0 0 10px rgb(0, 0, 0);
    transition: .2s all ease;
}

#video-gallery > .videos > iframe:hover {
    transform: scale(1.02);
}

/*end of gallery styling*/


#services-content {
    display: flex;
    justify-content: center;
}

#services-content > #services-tabs{
    padding: .5em;
    flex: .7    ;
    -webkit-box-shadow: 0 0 10px rgb(0, 0, 0);
            box-shadow: 0 0 10px rgb(0, 0, 0);
    color: rgb(2, 0, 82);
}

#hamburger {
    display: none;
    font-size: 2em;
}

#tabs, #hamburger {
    text-align: center;
}

#tabs {
    display: flex;
    padding: 3rem;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    z-index: 100;
}

#services-content > #services-tabs > .tabs > h3{
    margin-top: 3rem;
    padding: 1rem;
    transition: .2s all ease;
}

#services-tabs > .tabs > h3:hover {
    cursor: pointer;
    background-color: rgba(131, 131, 131, 0.801);
    text-decoration: underline;
}

.tabDefaultLook {
    background: none;
}

#services-content > .display-services{
    flex: 2;
    padding: 2rem;
}

#design-section > h1 {
    text-align: center;
    font-size: 200%;
    font-weight: 900;
    margin: 1em;
}

.services-div {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 1em;
    -webkit-box-shadow: 0 0 10px rgb(0, 0, 0);
            box-shadow: 0 0 10px rgb(0, 0, 0);
    border-radius: 3px;
}

.services-div > img{
    height: auto;
    width: 30%;
    margin-right: 2em;
    flex: 1;
}

.tag-n-price {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    letter-spacing: 2px;
    color: white;
    flex: 2;
    text-align: center;
    background: rgb(28, 30, 93);
    width: 100%;
    padding: 5em;
}

.service-btns-div {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.service-btns {
    width: 40%;
    height: 60px;
    margin: 2em;
    padding: 1em;
    font-weight: 900;
    font-size: 70%;
    border: none;
    background: none;
    -webkit-box-shadow: 0 0 5px white;
            box-shadow: 0 0 5px white;
    cursor: pointer;
    color: white;
    transition: .2s all ease;
}

.service-btns:hover {
    color: black;
    background-color: rgb(255, 255, 255);
    -webkit-box-shadow: 0 0 7px black;
            box-shadow: 0 0 7px black;
}


#video-section > h1 {
    text-align: center;
    font-size: 200%;
    font-weight: 900;
    margin: 1em;
}

.swal-p {
    text-align: justify;
    text-justify: inter-word;
    font-size: 20px;
    letter-spacing: 1px;
}

#contact-content {
    display: flex;
    flex-direction: column;
}

.contact-form {
    border-top: 1px solid rgb(2, 0, 82);
    position: relative;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 3rem;
    padding-top: 5rem;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 900;
}

.contact-form::after {
    content: "";
    background: url("/assets//contact\ bg.jpg");
    background-size: cover;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
}

.contact-form > #contact-address {
    display: flex;
    flex-direction: column;
}

#contact-address > * {
    padding: 1rem;
}

#contact-address > label {
    background: -webkit-linear-gradient(rgb(2, 0, 82), rgb(13, 84, 117));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#contact-address > input {
    padding: .5rem;
    margin: .5rem;
    width: 100%;
    border: none;
    background: transparent;
    border-bottom: 1px solid black;
    outline: 0;
    font-size: 1rem;
}

#contact-address > input:focus {
    border-bottom: 2px solid green;
}

.contact-form > #contact-message {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#contact-message > *{
    padding: 1rem;
    margin: 1rem;
}

#contact-message > label {
    background: -webkit-linear-gradient(rgb(2, 0, 82), rgb(13, 84, 117));
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
}

#contact-message > textarea {
    background: transparent;
    border-bottom: 1px solid black;
    outline: 0;
    font-size: 1rem;
    max-width: 95%;
    resize: none;
    border-radius: 3pt;
}

#contact-message > button {
    color: white;
    width: fit-content;
    background-image: linear-gradient(to right, rgb(2, 0, 82), rgb(30, 82, 149));
    cursor: pointer;
    -webkit-box-shadow: 0 0 3px rgb(2, 0, 82);
                box-shadow: 0 0 3px rgb(2, 0, 82);
    transition: .2s all ease;
}

#contact-message > button:hover {
    transform: scale(1.05);
}

.mapouter {
    padding: 2rem;
    padding-bottom: 5rem;
    position:relative;
    display: flex;
    justify-content: space-between;
}

.gmap_canvas {
    overflow:hidden;
    width: 100%;
    height: auto;
    border-radius: 5pt;
}

.mapouter > #map-details {
    width: 100%;
}

#map-details > *{
    margin: 1rem;
}

#map-details > .details {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    border: 1px solid rgb(2, 0, 82);
    padding: 1.5rem;
    border-radius: 3pt;
    transition: .2s all ease;
    cursor: pointer;
    text-decoration: none;
    color: black;
    font-weight: 900;
    font-size: 1.2rem;
}

#map-details > .details:hover {
    transform: scale(1.03);
}


@media only screen and (max-width: 1024px) {

    .logo-container {
        display: none;
    }
    
    #home-content > .first-screen {
       flex-direction: column;
    }

    #home-content > .first-screen::after {
        left: -700px;
     }

    #home-content > .first-screen > img {
        width: 400px;
    }

    .first-screen-txt > * {
        font-size: 80%;
        margin: 1rem;
    }

    #home-content > .second-screen {
        flex-direction: column;
        font-size: 1.3rem;
    }

    #home-content > .second-screen > img {
        width: 400px;
    }

    #icons-div {
        flex-direction: column;
    }

    #num-div-container {
        flex-direction: column;
    }

    .staff-members-div > .staff-members {
        width: 110%;
        margin: 3rem;
        cursor: pointer;
        transition: .2s all ease;
    }

    
    #gallery-content > #design-gallery > h1 {
        font-size: 2.5rem;
    }

    #video-gallery > .videos > iframe {
        height: 200px;
        width: 450px;
    }

    #services-content {
        flex-direction: column;
    }

    #hamburger {
        display: flex;
    }

    #tabs {
        padding: 3rem;
        display: none;
        background-color: rgb(28, 30, 93);
        -webkit-box-shadow: 0 0 20px rgb(0, 0, 0);
                box-shadow: 0 0 20px rgb(0, 0, 0);
        color: white;
        width: 90%;
        position: absolute;
        left: 0;
    }
    
    #design-section > h1 {
        text-align: center;
        font-size: 200%;
        font-weight: 900;
        margin: 0;
    }

    .services-div {
        margin-top: 5em;
        flex-direction: column;
    }

    .services-div > img {
        width: 40%;
    }

    .tag-n-price {
        padding: 1em;
    }

    .mapouter {
        flex-direction: column;
    }
}